@import "libs/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Shrikhand&display=swap');
@import "menu.scss";
@import "libs/responsive.scss";
@import "loader.scss";
@import "cards.scss";

body {

    font-family: 'Roboto', sans-serif;
}

h1 {

  font-family: $fontprimary;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header img {
    width: 170px;
    height: 60px;
    margin-left: 50%;
}

.location-bar {
    background-color: #d7d6d6;
    box-shadow: 0px 5px 20px #a8a5a5;
    background: rgb(234, 234, 234);
}
.location-bar-txt {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    padding: 20px;
    font-size: 18px;
    margin-left: -25px;

    input {
      width: 110px;
      font-weight: $fontbold;
      text-align: center;
      border: none;
      background: rgb(234, 234, 234);

      &::placeholder {
        color: black;
      }
    }
}

.explore {
  background-color: $backhroundpage;
  display: flex;
  flex-direction: column;
  padding: 50px;
  row-gap: 20px;
  align-items: center;
  text-align: center;

    h1 {
        font-size: 28px;
        font-weight: $fontbold;
    }
    h3 {
      font-size: 15px;
    }

  }

.btn_style {
    width: 250px;
    margin-top: 15px;
    border-radius: 100px;
    box-shadow: 0px 5px 20px #a8a5a5;
    border: 0px;
    color: white; 
    font-weight: $fontbold;
    padding: 20px;
    font-size: 15px;
    background: linear-gradient(to bottom right, $secondary, $primary);

    &:hover {
      cursor: pointer;
      transform: scale(1.01);
    }
  }

.functioning{
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
      font-weight: bold;
      font-size: 20px;
    }
}
.list-functioning {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
}

.btn-functioning {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 50px;
  margin-top: 10px;
  border-radius: 15px;
  border: 0 solid $primary;
  box-shadow: 0px 5px 20px #a8a5a5;
  font-weight: bold;
  font-size: 14px;
}
.nbr-functioning {
  height: 20px;
  width: 20px;
  padding: 2px;
  border: 1px solid $primary;
  border-radius: 50%;
  transform: translateX(-15px);
  background-color: $primary;
  color: white;
}

.icon-functioning-txt {
  margin-left: 10px;
}
  .fa-mobile-screen-button {
    margin-right: 11px;
    color: grey;
    &:hover {
      color: $primary;
    }
  }
  .fa-list-ul {
    margin-right: 23px;
    color: grey;
  }
  .fa-store {
    margin-right: 17px;
    color: grey;
  }

.btn-functioning-text {
  margin-left: 20px;
}

button:hover{
  background: rgba(147,86,220,0.15); 
      i {
        color: $primary;
        font-weight: $fontbold;
      }
}

.restaurant {
    background-color: $backhroundpage;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 50px;

    h1 {
        margin-left: 20px;
        font-weight: $fontbold;
        font-size: 20px;
    }
  }
.footer {
    background-color: $backgroundfooter;
}
.title-footer, .sublink-footer {
    text-align: start;
    color: #ffffff;
    margin-left: 20px;  

    h1 {
        font-family: $fonttitle, cursive;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    li {
        padding: 5px 5px 5px 0px;
    }
 
  }
  .sublink-footer {
    padding-bottom: 30px;
  }
  .fa-utensils, .fa-handshake-angle {
    width: 25px;
    padding-right: 25px;
  }  

  .contact {
    text-decoration: none;
    color: white;
  }



